@import "tailwindcss";

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #0c0c0c; /* Dark background */
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #222831; /* Dark gray thumb */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #00adb5; /* Glowing cyan effect */
}

/* tailwind.config.js or globals.css */

.animate-bounce1 {
  animation: bounce 1.2s infinite ease-in-out both;
  animation-delay: -0.32s;
}

.animate-bounce2 {
  animation: bounce 1.2s infinite ease-in-out both;
  animation-delay: -0.16s;
}

.animate-bounce3 {
  animation: bounce 1.2s infinite ease-in-out both;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
